.chat-ai {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-container {
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100vw;
  max-width: 700px;
  height: 90%;
  max-height: 800px;
}

.message-list-container {
  flex: 1;
  overflow: auto;
  height: calc(100% - 60px); /* subtract the height of message-input-container */
}

.message-list {
  padding: 16px;
  border-radius: 8px;
  overflow-y: scroll;
  touch-action: pan-y; /* add this property for smooth scrolling on touch devices */
}

.message-input-container {
  padding: 16px;
}

.message-input {
  width: 100%;
}
