:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.chat-ai {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-container {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: scroll;
  width: 100vw;
  max-width: 700px;
  height: 90%;
  max-height: 800px;
}

.message-list-container {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message-list {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.message {
  background-color: #F1F0F0;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 10px;
  max-width: 80%;
}

.message-outgoing {
  align-self: flex-end;
  background-color: #00BFFF;
  color: #FFF;
}

.message-incoming {
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: white;
}

.typing-indicator {
  font-style: italic;
  margin-left: 10px;
  margin-top: 5px;
}

.message-input-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}

.message-input {
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 10px;
  font-size: 16px;
  width: 50vw;
  outline: none;
}

.system-message-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 10px;
  color: #222;
  font-weight: bold;
}

#system-message-selection {
  border-radius: 4px;
  font-weight: bold;
}

.send-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.send-button:hover {
  background-color: #0069d9;
}

@keyframes typing {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.  5;
  }
}

.typing-animation {
  animation: typing 1s linear infinite;
}

.hide-title {
  display: none; /* Hide the title for desktop */
}

.show-title {
 display: none;
}

.conversation-list {
  position: absolute;
  top: 1.5rem; 
  right: 0;
  width: 250px;
  background-color: #242424;
  padding: 12px 16px;
  z-index: 1;
  color: white; 
}

.dropdown {
  padding: 5px
}

.dropdown:hover {
  font-weight: 700
}

.conversation-item {
  box-shadow: 0px 4px 12px rgba(21, 20, 20, 0.5);
  padding: 7px 15px;
}

.conversation-item:hover {
  background-color: rgb(52, 48, 48);
  border-radius: 8px;
}

.selected-option {
  color: #007bff;
}

.sign-out {
  font-weight:600;
  color: #007bff;
}

.menu-icon {
  position: absolute;
  top: -5px; 
  right: 10px; 
  padding-top: 10px;
  cursor: pointer;
  color: rgb(234, 232, 232);
}



.chat-ai-header {
  text-align: center;
  color: #606060;
}

.google-btn {
  background-color: #242424;
  border: none;
}

.google-icon:hover {
 opacity: 0.8;
}

/* Media queries */
@media (min-width: 768px) {
  .chat-ai {
    height: 100vh;
  }

  .message-input-container {
    flex-wrap: nowrap; /* Ensure the elements don't wrap */
  }
}

@media (max-width: 767px) {
  .chat-ai {
    position: fixed;
    height: 90%;
  }

  .chat-container {
    height: calc(100vh - 60px); /* 60px is the height of the message input container */
  }

  .chat-container.keyboard-open {
    height: calc(100vh - 6-px - var(--keyboard-height, 0px));
  }

  .hide-icon {
    display: none;
  }
  
  .show-title {
    display: unset; /* Unset the show-title hidden setting for desktop */
    font-weight: bold;
    padding-left: 10px;
  }

  .conversation-list {
    position: absolute;
    left: 0;
    margin-left: 30px;
    padding: 0;
  }

  .conversation-item {
    padding: 5px 10px;
    /* color: #00BFFF; */
    /* font-weight: bold; */
  }

  .menu-icon {
    top: -40px;
    left: 0; 
  }
}
